{% extends "base.html" %}

{%block content%}
<div class="container">
<br>
<h1>ユーザー登録</h1>
<br>
<form method="POST">
    <label for="" class="form-label"><h3>ユーザー名</h3></label>
    <input type="text" name="username" class="form-control">
    <br>
    <label for="" class="form-label"><h3>パスワード</h3></label>
    <input type="password" name="password" class="form-control">
    <br>
    <br>
    <input type ="submit" value="新規登録"  role=button class="btn btn-outline-success btn-lg fw-bold">
</form>
</div>
{% endblock %}